@model BloggerCore.Models.Postagem
@using System.Web
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Detalhes";
}

<div class="container">

    <div class="col-md mt-12 mb-12">
        <div class="k-card">

            <div class="k-card-header">
                @Html.DisplayFor(model => model.Titulo)
            </div>
            <div class="k-card-body">
                @Html.Raw(HttpUtility.HtmlDecode(Model.Descricao))
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div>
                    <a class="btn btn-warning" asp-controller="Postagens" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
                    <a class="btn btn-info" asp-controller="Home" asp-action="Index">Voltar</a>
                </div>
            }

        </div>
    </div>
    
</div>