@{
    ViewData["Title"] = "CkEditor";
}

<div class="text-left">
    <div class="form-group">
        <a class="btn btn-primary" asp-action="Criar">
            <i class="fa fa-plus" aria-hidden="true" title="Cadastar uma nova postagem">

            </i> Novo
        </a>
    </div>
</div>